# non-"v" from https://ftp.denx.de/pub/u-boot/
/u-boot-v20??.??.tar.bz2
/u-boot-v20??.??/

# "v" from https://source.denx.de/u-boot/u-boot/-/tags
/u-boot-20??.??.tar.bz2.sig
/u-boot-20??.??.tar.bz2
/u-boot-20??.??/

# Git
/u-boot.git/
/u-boot/

# Misc
/bone-debian-9.9-iot-armhf-*.img*
/void-beaglebone-musl-*.img.xz
/void-beaglebone-musl-PLATFORMFS-*.tar.xz

# Arch Linux ARM
# ArchLinuxARM-am33x-latest.tar.gz.sha1sum
/ArchLinuxARM-am33x-latest.tar.gz
/ArchLinuxARM_*

/usbreset.out
